header.header
  .container
    .header__wrapper
      .header__left.short-news
        .short-news__list
          .short-news__item
            .short-news__image.short-news__image--background(
              data-block="short-news"
              data-role="content-image"
            )
            .short-news__content(
              data-block="short-news"
              data-role="content-image"
            )
              p Коронакризис в Британии: конфронтация из-за карантина...
          .short-news__item
            .short-news__image.short-news__image--background(
              data-block="short-news"
              data-role="content-image"
            )
            .short-news__content(
              data-block="short-news"
              data-role="content-image"
            )
              p Коронакризис в Британии: конфронтация из-за карантина...
          .short-news__item
            .short-news__image.short-news__image--background(
              data-block="short-news"
              data-role="content-image"
            )
            .short-news__content(
              data-block="short-news"
              data-role="content-image"
            )
              p Зачем Запад атакует Россию?
      .header__right
        .header__quote.header-quote
          .header-quote__image(
            data-block="header-quote"
            data-role="author-image"
          )
          .header-quote__content
            span.header-quote__name-span(
              data-block="header-quote"
              data-role="author-name"
            ) Владимир Путин:
            .header-quote__text(
              data-block="header-quote"
              data-role="news-content"
            )
              p «Надо исполнять закон всегда, а не только тогда, когда схватили за одно место!»
        .header__socials.header-socials
          .header-socials__top.header-socials-top
            .header-socials-top__permission
            a.header-socials-top__russian(
              href="#"
              target="_self"
              data-block="header-socials"
              data-role="lang-link"
            )
            a.header-socials-top__english(
              href="#"
              target="_self"
              data-block="header-socials"
              data-role="lang-link"
            )
          .header-socials__bottom.header-socials-bottom
            a.header-socials-bottom__link.header-socials-bottom__twitter(
              href="#"
              target="_blank"
              data-block="header-socials"
              data-role="social-link"
            )
            a.header-socials-bottom__link.header-socials-bottom__google(
              href="#"
              target="_blank"
              data-block="header-socials"
              data-role="social-link"
            )
            a.header-socials-bottom__link.header-socials-bottom__facebook(
              href="#"
              target="_blank"
              data-block="header-socials"
              data-role="social-link"
            )
            a.header-socials-bottom__link.header-socials-bottom__vk(
              href="#"
              target="_blank"
              data-block="header-socials"
              data-role="social-link"
            )
            a.header-socials-bottom__link.header-socials-bottom__rss(
              href="#"
              target="_blank"
              data-block="header-socials"
              data-role="social-link"
            )
