nav.nav
  .nav__wrapper
    .nav__left.nav-left
      .nav-left__logo
      .nav-left__logo--background
    .nav__right.nav-right
      ul.nav-right__nav-list
        li.nav-right__nav-item
          a.nav-right__nav-link(
            href="#"
            target="_self"
            data-block="nav-block"
            data-role="nav-link"
          ) Новости
        li.nav-right__nav-item
          a.nav-right__nav-link(
            href="#"
            target="_self"
            data-block="nav-block"
            data-role="nav-link"
          ) Каталог предприятий
        li.nav-right__nav-item
          a.nav-right__nav-link(
            href="#"
            target="_self"
            data-block="nav-block"
            data-role="nav-link"
          ) Контакты
